body {
    background-color: #fffbf7;
}
main{
    text-align: center;
}
h1 {
    color: #025157;
    /*font-family: verdana 22px*/
}
#debajo-titulo{
    color: #46484c;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color: #025157;
    color: #fff;
}
